In [4]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df = df.apply (pd.to_numeric, errors='coerce')

print (df)

   name  score  attempts  qualify
a   NaN   12.5         1      NaN
b   NaN    9.0         3      NaN
c   NaN   16.5         2      NaN
d   NaN    NaN         3      NaN
e   NaN    9.0         2      NaN
f   NaN   20.0         3      NaN
g   NaN   14.5         1      NaN
h   NaN    NaN         1      NaN
i   NaN    8.0         2      NaN
j   NaN   19.0         1      NaN